<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nickilous.pebbletracks"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="com.google.android.apps.mytracks.READ_TRACK_DATA" />
    <uses-permission android:name="com.google.android.apps.mytracks.WRITE_TRACK_DATA" />
    <uses-permission android:name="com.google.android.apps.mytracks.TRACK_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.nickilous.pebbletracks.PebbleTracksMainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.nickilous.pebbletracks.PebbleTracksBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.apps.mytracks.TRACK_STARTED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.apps.mytracks.TRACK_STOPPED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
